body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

p{
  line-height: 2;
}

h1{
  color: #66BFBF;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', sans-serif;
}

h2{
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  padding: 10px;
}

h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

hr{
  border: dotted Indigo 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;

}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  margin: 10px;
}

a:hover{
  color: Black;
}

.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.top-container{
  background-color: White;
  position: relative;
  padding-top: 100px;
}

.bottom-cloud{
  position: absolute;
  left: 280px;
  top: 320px;
}
.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}

.profilePicture{
  margin: 50px auto 0 auto;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.computer-image{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.coding-image{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.intro{
  width: 30%;
  margin: auto;
}

.contact-me{
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
	box-shadow: 0 0 0 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size:15px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0 1px 0 #283966;
}
.btn:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.btn:active {
	position:relative;
	top:1px;
}

.copyright{
  color: Black;
  font-size: 0.75rem;
  padding: 20px 0;
}

.coder{
  margin-top: 50px;
}
